@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Lato', 'Helvetica';
}

/*-- NAVBAR --*/

#navbar {
  position: fixed;
  margin: -20px;
  min-width: 103%;
  max-height: 80px;
  background-color: #b44a60;
  display: block;
  padding: none;
  font-family: 'Lato', 'Helvetica';
}

#navbar .title {
  display: inline-table;
  color: #f9f9f9;
  padding: 5px 0 0 40px;
  font-size: 60px;
  font-weight: bold;
}

#navbar .details {
  display: inline-table;
  float: right;
  padding: 30px 40px 0 0;
  font-size: 20px;
  text-decoration: none;
  color: #f9f9f9;
}

#navbar a{
  color: #f9f9f9;
}

#navbar a:hover {
  color: #85375A;
}

/*-- Sidebar --*/

#sidebar-about {
  float: left;
  padding: 100px 20px 40px 20px;
  max-width: 20%;
  text-align: center;
}

#sidebar-img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

ul {
  align-items: center;
}

.social-media {
  display: inline-block;
  margin: 0 17px;
}

/*-- Navigation --*/

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #b44a60;
}

.content {
  width: 70%;
  padding: 5% 6% 0 0 ;
  display: inline-block;
}

.post_link {
  display: table;
}

.content .arrow {
  padding-top: 5%;
  float: left;
  max-width: 5%;
}

.content .title {
  padding: 0 0 0 10%;
  text-align: left;
  max-width: 70%;
}

/*-- Posts --*/

.post {
  padding: 5% 0;
  margin: auto;
  max-width: 55%;
}

.post h1 {
  text-align: center;
}

.post .header_photo {
  max-width: 100%;
}

.centered-bottom {
  clear: both;
  margin: auto;
  max-width: 55%;
  text-align: center;
}

/*-- Transformation --*/
.arrow:hover {
    transition-duration: .25s;
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
}