.container {
  margin: 5% auto;
}

.row {  
  width: 100%;
}

.example {
  display: inline-block;
  margin: 30px;
  width: 200px;
  height: 200px;
  background-color: rebeccapurple;
  -webkit-transition: all .75s ease;
  -moz-transition: all .75s ease;
  transition: all .75s ease;
}

.example.one:hover {
  transform: rotate(-5deg);
}

.example.two:hover {
  transform: rotate(45deg);
}

.example.three:hover {
  transform: rotate(360deg);
}