.container {
  margin: 5% auto;
}

.row {  
  width: 100%;
}

.example {
  display: inline-block;
  margin: 30px;
  width: 200px;
  height: 200px;
  background-color: rebeccapurple;
}

.example.one {
  transition: .5s;
}

.example.two {
  transition: 1s;
}

.example.three {
  transition: 2s;
}

.example:hover {
  background-color: orchid;
}